.git
.gitignore
.env
.env.*
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
storage/pail
public/hot
public/build
public/storage
playwright-report
test-results
blob-report
docker-compose*.yml

